/**
 * Widget Style
*/
#widget-list [id*='_spidermag_'] .widget-top, 
#widget-list [id*='_spidermag_'] h3 {
    background: #0074a2;
    color: #fff;
}
.widget-title h3, 
.widget-title h4 {
  padding: 15px 9px;
}

/**
 * Post & Page Layout 
*/
.screenshot img {
    width: 100%;
}
.mce-i-mce-ico {
    font: 400 20px/1 dashicons!important;
}
.post_image_section .gal-img-block {
  display: inline-block;
  vertical-align: top;
  margin:5px 2px;
  width: 19%;
}
.post_image_section .gal-img-block img {
    width: 100%;
}
.post_image_section .gal-img-block .fig-remove {
  display: block;
  border: 1px solid #0073aa;
  padding: 5px 2px;
  text-align: center;
  width: 97%;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
  -webki-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
  -moz-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
  margin-top: 3%;
  background: #0091cd;
  color: #fff;
  cursor: pointer;
}
.section-input .post-videourl {
    width: 90%;
}

.audiourl-sec input[type="text"] {
    width: 85%;
}
.post-layout img {
    width: 122px;
}
#spidermag-img-container li label {
    display: inherit !important ;
    margin-left: 0px !important;
}
.image-bg-button{
    text-align: left!important; 
    background-repeat: no-repeat!important;
    background-size: auto 100%!important; 
    background-position: right!important;
}
.remove-image {
    cursor: pointer;
}

.spidermag-multiplecat {
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 6px 10px;
}
/* Customizer Page Layout */
.image label{
    position: relative;
    margin: 0 3% 3% 0;
    display: inline-block;
    width: 46%;
}
.image input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.image img{
    display: block;
    border:2px solid #F6F6F6;
}
.image input:checked + img{
    border:2px solid #CCC;
}

/**
 * Preloader 
**/
.cmizer-preloader {
    width: 60px;
    display: block;
    float: left;
    padding: 10px;
    background: #FFFFFF;
    height: 55px;
    margin: 1px;
    text-align: center;
    border: 2px solid #C5C5C5;
}
.cmizer-preloader:hover, .cmizer-preloader.active {
    border-color: #9A9A9A;
}



/**
 * Customizer Icon Settings Area
*/
.customize-pane-parent .control-section .accordion-section-title:before{
    font-family: dashicons;
    content: "\f103";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#accordion-panel-spidermag_header_options .accordion-section-title:before,
#accordion-panel-spidermag_design_options .accordion-section-title:before{
    content: "\f111";
}

#accordion-panel-nav_menus .accordion-section-title:before{
    content: "\f333";
}

#accordion-panel-widgets .accordion-section-title:before{
    content: "\f116";
}

#accordion-panel-widgets .accordion-section-title:before{
    content: "\f116";
}

#accordion-section-custom_css .accordion-section-title:before{
    content: "\f499";
}


/**
 * Important link
*/
.pro-implink{
  background: #0073aa;
  padding: 8px;
  color: #FFF !important;
  text-align: center;
  display: block;
  margin-top: 5px;
  line-height: 1.2;
  box-shadow: none;
  font-style: normal;
  text-decoration: none;
}
.pro-implink:hover{
  background: #000;
}


/**
 * Customizer Upgreate pro
*/
.admin-pro-feature-list li{
 
    border-bottom: 1px solid #f1f1f1;
    margin: 0;
    padding: 6px 0px;
    line-height: 1;
}
.admin-pro-feature-list li:before{
     content: "\f345";
    font: 400 20px/1 dashicons;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    line-height: 1.5;
 
 }
.admin-pro-feature-list span{
    display: inline-block;
    width: 90%;
    line-height: 1.5;
    vertical-align: top;
}
.admin-pro-feature-list{
    margin: 0 5px;
}
.buynow{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}